<ion-split-pane>
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar  class="bar-calm">
     
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons >

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>
   <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h5 style="color: white; font-weight: normal;">pamshE 1.1</h5>
    </ion-header-bar> 
   

      
    <ion-content scroll="false" >
  
   <div id="profile-bg" id="menu" ></div>
      <div  id="contentmenu"  style="background-image: url(img/Sew.jpg);">
      </div>

 
     
      
    
    <div id="scroll" class="styles"> 
 
         <ion-item class="transparent" style="border-top: 0px;
border-left: 0px;
border-right: 0px;"
 menu-close href="#">
          <span><i class="icon icon-left ion-home"></i>&nbsp;&nbsp;Home</span>
        </ion-item>
       
        
         <ion-item class="transparent" style="border-top: 0px;
border-left: 0px;
border-right: 0px;"
 menu-close href="#/app/customers">
          <span><i class="icon icon-left ion-ios-people"></i>&nbsp;&nbsp;Customers</span>

        </ion-item>
        
        

     
 
<ion-item class="transparent" style="border-top: 0px;
border-left: 0px;
border-right: 0px;" menu-close href="#/app/calendar">
          <span><i class="icon ion-calendar"></i>&nbsp;&nbsp;Calendar</span>
        </ion-item>

        <ion-item class="transparent" style="border-top: 0px;
border-left: 0px;
border-right: 0px;"  menu-close href="#/app/advertise">
        <span>  <i class="fa fa-buysellads"></i>&nbsp;&nbsp;Advertise</span>
        </ion-item>

        <ion-item class="transparent"  style="border-top: 0px;
border-left: 0px;
border-right: 0px;" menu-close  href="#/app/connect"> 
        <span><i class="fa fa-connectdevelop"></i>&nbsp;&nbsp;Connect</span>
        </ion-item>

        <ion-item class="transparent"  menu-close href="#/app/measuringtips">
          <span><i class="icon icon-left ion-ios-recording"></i>&nbsp;&nbsp;Measurement-tips</span>
        </ion-item>



<ion-list>
        <ion-item class="transparent"  style="border-top: 0px;
border-left: 0px;
border-right: 0px;" menu-close ng-click="login()"> 
        <span><i class="fa fa-power-off"></i>&nbsp;&nbsp;Logout</span>
          
        </ion-item>
         
        
        <ion-item class="transparent" style="border-top: 0px;
border-left: 0px;
border-right: 0px;" menu-close href="#/app/about">
          <i class="icon ion-information"></i>&nbsp;&nbsp;About
        </ion-item>
        </ion-list>
        </div>
        

        


        </ion-content>



<ion-footer-bar class="bar-calm" align-title="center">
 
<h6 style="text-align: left; color: white;" >&copy; WonderSoft2017</h6>
            </ion-footer-bar>
            
      

        
      
      
  </ion-side-menu>
</ion-side-menus>


</ion-split-pane>











 <!--ion-item-group>
      <ion-item-divider><h3 class="royal">See</h3><ion-item-divider>
      <ion-item class="transparent" menu-close href="#">
          <span><i class="icon icon-left ion-home"></i>&nbsp;&nbsp;Home</span>
        </ion-item>
        <ion-item class="transparent" menu-close href="#/app/customers">
          <span><i class="icon icon-left ion-ios-people"></i>&nbsp;&nbsp;Customers</span>
        </ion-item>
        <ion-item class="transparent" menu-close href="#/app/calendar">
          <span><i class="icon ion-calendar"></i>&nbsp;&nbsp;Calendar</span>
        </ion-item>
         <ion-item class="transparent" menu-close href="#/app/gallery-male">
          <i class="icon ion-images"></i>&nbsp;&nbsp;Gallery
        </ion-item>
    </ion-item-group>
    <div class="list shiftDown">
      <ion-item class="transparent" menu-close ng-click="login()">
          <span><i class="icon ion-person"></i>&nbsp;&nbsp;Login</span>
        </ion-item>
        <ion-item class="transparent" menu-close ng-click="signup()">
          <span><i class="icon ion-person-add"></i>&nbsp;&nbsp;Sign-up</span>
        </ion-item>
        <ion-item class="transparent" menu-close href="#/app/about">
          <i class="icon ion-information"></i>&nbsp;&nbsp;About
        </ion-item>
      </div-->