<ion-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Body Measurement</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeOverall()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content  style="
  background-image: url(img/business2.jpg);
  background-repeat: no-repeat; 
  opacity:0.5; 
  background-size: cover;
  background-position: center;">
    <form class="lists">
      <div class="list transparent">
        <label class="item item-input transparent">
          <span class="input-label">Bust</span>
          <input type="text" ng-model="bustInt">
        </label>
        <label class="item item-input transparent">
          <span class="input-label">high</span>
          <input type="text" ng-model="highInt">
        </label>
        <label class="item item-input transparent">
          <span class="input-label">Inseam</span>
          <input type="text" ng-model="inseamInt">
        </label>
        <label class="item item-input transparent">
          <span class="input-label">Neck</span>
          <input type="text" ng-model="neckInt">
        </label>
        <label class="item item-input transparent">
          <span class="input-label">Sleeve</span>
          <input type="text" ng-model="sleeveInt">
        </label>
        <label class="item item-input transparent">
          <span class="input-label">Waist</span>
          <input type="text" ng-model="waistInt">
        </label>

<label class="item item-input ">
          <span class="input-label"><h2>Collection Date</h2></span>
          <input type="date" placeholder="Loan Application Date" >
      </label>
          <label class="item item-input" >
        <button class="button button-small icon icon-left ion-plus-circled" type="submit" ng-click='loanpop()'
            style="margin-left: auto;
            margin-right: auto;
            display: block;">
            submit Measurement
        </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>


